<div class="back-circle iblue"></div>

<div class="page-title poppins iblack-text">REGISTRATION FORM</div>

<br /><br /><br />
<div class="registration-form mcontainer iwhite center-align">
  <form action="#" method="POST">
    <div class="row left-align">
      <h4 class="iblack-text poppins bold">Create an ID to register for events:</h4>
    </div>
    <br />
    <div class="input-field">
      <input placeholder="" id="name" name="name" type="text" class="validate">
      <label for="name">Name</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="college-name" name="college-name" type="text" class="validate">
      <label for="college-name">College Name</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="_replyto" name="_replyto" type="email" class="validate">
      <label for="_replyto">Email</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="mobile" name="mobile" type="number">
      <label for="mobile">Phone Number</label>
    </div>
    <div class="row center-align">
      <input class="mbtn poppins" type="submit" value="Register">
    </div>
  </form>
</div>

<br /><br /><br />